#Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

#Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  3  1  4  7  5
1  3  3  6  7  7
2  7  2  2  4  1
3  4  4  8  1  8
4  5  2  3  6  9

#Membalik urutan kolom

In [9]:
df.loc[::-1]

   A  B  C  D  E
4  5  2  3  6  9
3  4  4  8  1  8
2  7  2  2  4  1
1  3  3  6  7  7
0  3  1  4  7  5

#Membalik urutan baris

In [11]:
df.loc[::-1, :]

   A  B  C  D  E
4  5  2  3  6  9
3  4  4  8  1  8
2  7  2  2  4  1
1  3  3  6  7  7
0  3  1  4  7  5

##Membalik urutan baris dan melakukan penyesuaian ulang

In [15]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  5  2  3  6  9
1  4  4  8  1  8
2  7  2  2  4  1
3  3  3  6  7  7
4  3  1  4  7  5