#Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

#Membentuk Data Frame dari Dictionary

In [3]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

#Membentuk Data Frame dari Numpy Array

In [5]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 3, 13,  5],
       [16,  2, 19],
       [ 6, 15,  2],
       [11, 19, 13],
       [ 3, 10,  8]])

In [7]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0   3  13   5
1  16   2  19
2   6  15   2
3  11  19  13
4   3  10   8

#Membentuk Data Frame dengan memanfaatkan

In [21]:
## DEPRICATED ##
# pd.util.testing.makeDataFrame().head()

In [9]:
n_rows = 30 
n_cols = 4 
columns = list('ABCD')

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=columns)

print(df.head())

          A         B         C         D
0 -0.109642  1.139635 -0.435131  0.382698
1  0.033138 -1.327303 -1.448829  1.856705
2  0.018711 -0.196555  1.652428  1.876814
3  1.118588  1.146916 -0.997663 -0.089528
4 -1.342117 -0.772292 -0.093088 -0.584577

In [23]:
## DEPRICATED ##
# pd.util.testing.makeMixedDataFrame().head()

In [11]:
n_rows = 5 

data = {
    'A': np.random.randn(n_rows),                 
    'B': np.arange(1, n_rows + 1),                
    'C': pd.date_range('2024-01-01', periods=n_rows), 
    'D': ['foo', 'bar', 'baz', 'qux', 'quux']    
}

df = pd.DataFrame(data)

print(df.head())

          A  B          C     D
0 -1.736736  1 2024-01-01   foo
1  1.433655  2 2024-01-02   bar
2 -0.960107  3 2024-01-03   baz
3 -1.214796  4 2024-01-04   qux
4 -1.580942  5 2024-01-05  quux

In [25]:
## DEPRICATED ##
# pd.util.testing.makeTimeDataFrame().head()

In [13]:
n_rows = 30  
n_cols = 4   
columns = list('ABCD')

In [27]:
## DEPRICATED ##
# pd.util.testing.makeMissingDataframe().head()

In [17]:
n_rows = 5
n_cols = 4

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=list('ABCD'))

df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan
df.iloc[4, 0] = np.nan

print(df.head())

          A         B         C         D
0  0.284635       NaN -1.039522  2.549878
1  0.307394 -0.420350  0.153370  0.112922
2 -1.400248 -0.073191  0.633084       NaN
3 -0.094393 -0.191896  0.604324 -0.036627
4       NaN  0.709131 -1.109267  0.063444