#Import Modules

In [25]:
import pandas as pd
print(pd.__version__)

2.2.2

#Persiapan Data Frame

In [27]:
data = {'col1':['1', '2', '3', 'teks'],
        'col2':['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [29]:
df.dtypes

col1    object
col2    object
dtype: object

#Konversi tipe data numerik dengan fungsi

#Konversi tipe data dengan fungsi

In [35]:
df_x = df.astype({'col2':'float'})
df_x

   col1  col2
0     1   1.0
1     2   2.0
2     3   3.0
3  teks   4.0

In [37]:
df_x.dtypes

col1     object
col2    float64
dtype: object

#Konversi tipe data numerik dengan fungsi

In [39]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4