#Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

#Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0    68
1    25
2    79
3    50
4    63
5    58
6    31
7    60
8     8
9     8

#Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan

In [5]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    68        manula
1    25        dewasa
2    79        manula
3    50        dewasa
4    63        dewasa
5    58        dewasa
6    31        dewasa
7    60        dewasa
8     8          anak
9     8          anak