#Import modules

In [3]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

#Persiapan Data Frame

In [7]:
n_rows= 5
n_cols=5
cols= tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0  18   5  12   4  18
1   5  10   1  12  13
2  19  11   9   2   8
3   7   6   6   7   2
4  15   4   4  12   3

In [10]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

#Menyertakan Prefix Kolom

In [12]:
df.add_prefix('kolom')

   kolomA  kolomB  kolomC  kolomD  kolomE
0      18       5      12       4      18
1       5      10       1      12      13
2      19      11       9       2       8
3       7       6       6       7       2
4      15       4       4      12       3

#Menyertakan Suffix Kolom

In [16]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0       18        5       12        4       18
1        5       10        1       12       13
2       19       11        9        2        8
3        7        6        6        7        2
4       15        4        4       12        3