In [17]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [19]:
## DEPRICATED ##
# n_rows = 365 * 24
# n_cols = 2
# cols = ['col1', 'col2']

# df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
#                   columns=cols)

# df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
# df

In [21]:
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='h')

df.head()

                     col1  col2
2023-01-01 00:00:00    10    16
2023-01-01 01:00:00     6     4
2023-01-01 02:00:00    10    15
2023-01-01 03:00:00     6     5
2023-01-01 04:00:00    17    12

In [23]:
df.resample('M')['col1'].sum().to_frame()

C:\Users\kevin\AppData\Local\Temp\ipykernel_10668\985753190.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M')['col1'].sum().to_frame()

            col1
2023-01-31  7498
2023-02-28  7127
2023-03-31  7223
2023-04-30  7196
2023-05-31  7586
2023-06-30  7356
2023-07-31  7076
2023-08-31  7433
2023-09-30  7090
2023-10-31  7253
2023-11-30  7244
2023-12-31  7535

In [25]:
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   203
2023-01-02   253
2023-01-03   232
2023-01-04   328
2023-01-05   222
...          ...
2023-12-27   266
2023-12-28   276
2023-12-29   233
2023-12-30   254
2023-12-31   240

[365 rows x 1 columns]